@charset "UTF-8";

#contentsBox {
	width: 800px;
	border: 1px solid #05A8F1;
	margin: 0 auto 20px auto;
}

#contentsBox .box {
	height: 60px;
	border-bottom: 1px solid #05A8F1;
	font-size: 20px;
	line-height: 60px;
}

#contentsBox .title {
	width: 80px;
	height: 60px;
	text-align: center;
	color: #251F39;
	border: 1px solid #05A8F1;
	border-top: none;
	border-bottom: none;
	background: #e3f2fd;
	font-weight: 500;
}

#contentsBox .title:first-child {
	border-left: none;
}

.box>* {
	float: left;
	text-align: center;
	height: 60px;
}

#no {
	width: 80px;
}

#title {
	width: 547px;
	font-weight: 500;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 0 4px;
}

#writer {
	width: 120px;
}

#regdate {
	width: 340px;
}

#hit {
	width: 95px;
}

#contents {
	min-height: 300px;
	padding: 30px;
	font-size: 21px;
	white-space: pre-line;
	word-break: break-all;
}

.btn_box {
	padding: 20px 12px;
	border-top: 1px solid #05A8F1;
}