<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org/DTD/Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- org.jbm.guestbook.vo.Guest 너무 길어서 앨리어스(별칭) 지정 -->
	<typeAliases>
		  <typeAlias type="com.jbm.phonebook.vo.Host" alias="Host" />
		  <typeAlias type="com.jbm.phonebook.vo.Phone" alias="Phone" />
	</typeAliases>
	
	<!-- 맵퍼 파일 경로 설정 -->
	<mappers>
		<mapper resource="com/jbm/phonebook/mapper/hosts.xml" />
		<mapper resource="com/jbm/phonebook/mapper/phonebook.xml" />
	</mappers>
</configuration>