<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org/DTD/Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 데이터베이스 연결 설정 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI"> <!-- Java Name Domain Interface -->
				<property name="data_source" value="java:comp/env/jdbc/oracle" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- 맵퍼 파일 경로 설정 -->
	<mappers>
		<mapper resource="mapper/groups.xml" />
		<mapper resource="mapper/idols.xml" />
	</mappers>
</configuration>