<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org/DTD/Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- org.jbm.guestbook.vo.Guest 너무 길어서 앨리어스(별칭) 지정 -->
	<typeAliases>
		<typeAlias type="com.jbm.mms.vo.Genre" alias="Genre" />
		<typeAlias type="com.jbm.mms.vo.Movie" alias="Movie" />
	</typeAliases>
	<!-- 데이터베이스 연결 설정 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI"> <!-- Java Name Domain Interface -->
				<property name="data_source" value="java:comp/env/oraclexe" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- 맵퍼 파일 경로 설정 -->
	<mappers>
		<mapper resource="com/jbm/mms/mapper/movies.xml" />
		<mapper resource="com/jbm/mms/mapper/genres.xml" />
	</mappers>
</configuration>