<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org/DTD/Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- org.jbm.guestbook.vo.Guest 너무 길어서 앨리어스(별칭) 지정 -->
	<typeAliases>
		<typeAlias type="vo.Idol" alias="Idol" />
	</typeAliases>
	<!-- 맵퍼 파일 경로 설정 -->
	<mappers>
		<mapper resource="mapper/idols.xml" />
	</mappers>
</configuration>